.notFound {
    text-align: center;
    padding: var(--section-padding) 0;
}

.notFound p {
    font-size: 8rem;
    margin-bottom: 50px;
}

.notFoundText {
    font-size: 1.5rem;
    font-weight: 400;
}

@media screen and (max-width:768px){
    .notFound p{
        font-size: 4rem;
    }
    .notFoundText{
        font-size: 1rem;
    }
}