/* メインビジュアル */
/* MainVisual */
.Mainvisual {
  width: 100%;
  line-height: 0;
  background-color: var(--white);
  padding: 0.6rem 0.8rem 0;
  position: relative;
  overflow-x: clip;
}

.MainvisualBg {
  border-radius: 24px;
  width: 100%;
  position: relative;
  line-height: 0;
  z-index: 0;
  overflow: visible;
  padding-top: 130px;
  background: linear-gradient(to bottom, #97D2FF 0%, #DBEFFF 100%);
  overflow-y: clip;
}

.MainvisualBg_pc {
  display: block;
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
}

.MainvisualBg_sp {
  display: none;
}

.MainvisualLogo_Pc {
  display: block;
  width: 100%;
}

.MainvisualLogo_Sp {
  display: none;
}

.MainvisualTitle {
  /* position: absolute; */
  /* top: 50%;
    left: 50%;
    transform: translate(-50%, -60%);
    z-index: 2; */
  position: relative;
  z-index: 10;
}

.MainvisualTitle img {
  width: 80vw;
  height: auto;
  margin: 0 auto;
}

.MainvisualLink {
  display: flex;
  justify-content: center;
  margin-top: 2.5rem;
  gap: 2.5rem;
}

/* 
.MainVisualTree {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  z-index: 3;
  line-height: 0;
  overflow: visible;
} */

.MainvisualWhiteCircle {
  position: absolute;
  width: 100%;
  height: auto;
  z-index: 5;
  bottom: 0;
  left: 0;
  /* translate:0 1px; */
}

/* .MainVisualTree img {
    width: 100%;
    display: block;
} */
.MainvisualTreeLeft {
  position: absolute;
  left: 0;
  bottom: -10px;
  width: 14%;
  z-index: 3;
}

.MainvisualTreeRight {
  position: absolute;
  right: 0;
  bottom: -10px;
  z-index: 3;
  width: 15%;
}


.SectionMainvisualButton {
  display: inline-flex;
  align-items: center;
  gap: 1rem;
  background-color: #005CAF;
  color: #F3F3F3;
  text-decoration: none;
  font-weight: 700;

  font-size: clamp(1rem, 1.2vw, 1.5rem);
  padding: clamp(0.5rem, 0.6vw, 0.8rem) clamp(0.5rem, 0.6vw, 0.8rem) clamp(0.5rem, 0.6vw, 0.8rem) clamp(1rem, 1.2vw, 1.8rem);
  border-radius: 2rem;
  margin-bottom: 1rem;

  box-shadow:
    0 5px 0 #003a75;

  transition: transform 0.1s ease, box-shadow 0.1s ease;
}

.SectionMainvisualButton:hover {
  background-color: #0068c7;
  box-shadow:
    0 4px 0 #003a75;
  transform: translateY(3px);
}

.SectionMainvisualButton:active {
  box-shadow:
    0 1px 0 #003a75,
    0 2px 6px rgba(0, 60, 120, 0.2);
  transform: translateY(5px);
}

.SectionMainvisuaButtonArrow {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  color: #005CAF;
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 2rem;
  font-size: 1.2rem;
  flex-shrink: 0;
  margin-left: 1rem;

  transition: color 0.2s ease;
}

.MainvisualScroll {
  display: flex;
  justify-content: center;
  color: #00896C;
  font-size: clamp(1.2rem, 1vw, 1.5rem);
  font-weight: bold;
  line-height: 1;
  margin-top: 2rem;
}

.SectionMainvisuaButton:hover .SectionButtonArrow {
  color: #003f7a;
}

.SectionMainvisualText {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
}

.SectionMainvisualTitleEN {
  display: inline-block;
  background-color: #fff;
  font-size: clamp(1rem, 1.8vw, 2.2rem);
  font-weight: bold;
  padding: clamp(0.8rem, 2vw, 2rem);
  border-radius: 1rem;
  position: relative;
}

.SectionMainvisualTitleEN::after {
  content: "";
  position: absolute;
  bottom: -0.625rem;
  left: 50%;
  transform: translateX(-50%) translateY(-1px);
  border-width: 0.625rem 0.4375rem 0 0.4375rem;
  border-style: solid;
  border-color: #fff transparent transparent transparent;
}

.SectionMainvisualTextSpan {
  display: inline-block;
  color: #00896C;
  font-size: clamp(1.5rem, 2.2vw, 3rem);
  font-weight: bold;
}

.Mainvisualsvg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;

  z-index: 3;
}

.Cloud1,
.Cloud2,
.Plane {
  position: absolute;
}

.Cloud1 img,
.Cloud2 img,
.Plane img {
  display: block;
}

.Cloud1 {
  top: 15%;
  left: 7%;
  width: clamp(7.5rem, 1.6vw, 20rem);
}

.Cloud2 {
  top: 10%;
  right: 5%;
  width: clamp(7rem, 1.6vw, 20rem);
}

.Plane {
  top: 12%;
  right: 40%;
  width: clamp(7.5rem, 1.6vw, 20rem);
}

@keyframes float {
  0% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(-12px);
  }

  100% {
    transform: translateY(0);
  }
}

.Cloud1 {
  animation: float 4s ease-in-out infinite;
}

.Cloud2 {
  animation: float 5s ease-in-out infinite;
  animation-delay: 1s;
  /* 少しズラすとより自然に */
}

.Plane {
  animation: float 3.5s ease-in-out infinite;
  animation-delay: 0.5s;
}

/* メインビジュアル ここまで*/

/*section border-bottom 消去*/
.AboutTop {
  border-bottom: none !important;
}

.CounterTop {
  border-bottom: none !important;
  /* overflow: hidden; */
  padding-bottom: 0;
}


.ServiceTop {
  border-bottom: none !important;
}

.InformationTop {
  border-bottom: none !important;
}

.SectionText {
  width: 37vw;
}

.SectionTitleEN {
  display: inline-block;
  background-color: #F9D77E;
  font-size: clamp(0.7rem, 1vw, 1.2rem);
  font-weight: bold;
  padding: 2px 15px;
  border-radius: 3px;
  position: relative;
}

.SectionTitleEN::after {
  content: "";
  position: absolute;
  bottom: -9px;
  left: 50%;
  transform: translateX(-50%);
  border-width: 10px 7px 0 7px;
  border-style: solid;
  border-color: #F9D77E transparent transparent transparent;
}

.SectionTitle {
  margin-top: 1.5vw;
  margin-bottom: 0.78vw;
  font-size: clamp(1.7rem, 2.8vw, 3.5rem);
  font-weight: 900;
}

.TextHighlight {
  color: #096148;
}

.TextHighlightAbout {
  font-size: 1.25rem;
  color: #096148;
}

.SectionP {
  /* font-size: 1rem; */
  font-style: normal;
  font-weight: 400;
  line-height: 1.5rem;
  font-size: clamp(.9375rem, 1.2vw, 1.2rem);
}



.SectionButton a {
  text-decoration: none;
  color: #F3F3F3;
}

.SectionButtonWrap {
  display: flex;
  justify-content: center;
  padding: 0 clamp(4rem, 8%, 16rem);
  margin-top: 5rem;
}

.SectionButtonWrap_About {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  margin-top: 1rem;
  padding-right: 32px;
}

.SectionButtonWrap_About a,
.SectionButtonWrap_Counter a,
.SectionButtonWrap_Service a {
  font-size: clamp(0.9375rem, 1.2vw, 1.3rem);
  padding: 0.8rem 0.5rem 0.8rem 1rem;
}

.SectionButtonWrap_Counter {
  display: flex;
  justify-content: center;
  margin-top: 4rem;
}

.SectionButtonWrap_Service {
  display: flex;
  justify-content: flex-end;
  margin-top: 2rem;
}

/*About*/
.AboutTop {
  position: relative;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  padding-top: 70px !important;
}

.AboutTop .SectionP {
  font-size: clamp(0.9375rem, 1.3vw, 1.6rem);
  line-height: 1.6;
}

.TextHighlightAbout {
  font-size: clamp(1.4rem, 1.5vw, 2.5rem);
  color: #096148;
}

.AboutTop>.SectionButton {
  align-self: flex-end;
}

.AboutContents_1 {
  margin-bottom: 0;
  display: flex;
  gap: 10vw;
  justify-content: center;
  align-items: center;
  margin-bottom: 15px;
}

.AboutContents_2 {
  display: flex;
  gap: 8vw;
  justify-content: flex-start;
  align-items: center;
}

.AboutTopImg {
  position: relative;
  width: 37vw;
  aspect-ratio: 337/237;
  height: auto;
}

.AboutTopImg img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.AboutContentsTopImg {
  position: relative;
  margin-left: calc(-1 * clamp(4rem, 8%, 16rem));
  margin-top: -4.69vw;
  width: 37vw;
  aspect-ratio: 1353/1605;
}

.AboutContentsTopImg img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.AboutInnerCheck {
  margin-top: 0.35rem;
  flex-shrink: 0;
  width: 20px;
  height: auto;
}

.AboutSubTitle {
  display: inline-block;
  background-color: #fff;
  font-size: clamp(0.9rem, 1.3vw, 1.6rem);
  font-weight: bold;
  padding: 1vw 2vw;
  border-radius: 1.25rem;
  position: relative;
  margin-bottom: 1.56vw;
}

.AboutSubTitle::after {
  content: "";
  position: absolute;
  bottom: -10px;
  left: 50%;
  transform: translateX(-50%);
  border-width: 10px 7px 0 7px;
  border-style: solid;
  border-color: #fff transparent transparent transparent;
}

.AboutContents {
  width: 25vw;
}

.AboutFlex {
  display: flex;
  flex-wrap: wrap;
  column-gap: 3.75vw;
  row-gap: 16px;
  align-items: flex-start;
  width: 53.75vw;
}


.AboutFlexSub {
  display: flex;
  align-items: flex-start;
  gap: 0.7rem;
  height: 1.5rem;
  margin-bottom: 1rem;
}

.LogoSVG {
  position: absolute;
  /* top: -10vw; */
  top: 0;
  left: 50%;
  translate: -50% 0;
  width: 180vw;
  aspect-ratio: 1/1;
  z-index: 0;
  animation: circleLoop 180s linear infinite;
  rotate: 0;
}

@keyframes circleLoop {
  from {
    rotate: 0deg;
  }

  to {
    rotate: 360deg;
  }
}

/* .LogoSVG {
  width: 100%;
  overflow: hidden;
  display: flex;
  justify-content: center;
  position: relative;
  z-index: 1;
  margin-bottom: -9rem;
  margin-top: 2rem;
} */

/* .LogoSVG svg {
  width: clamp(1278px, 100%, 1980px);
  height: auto;
} */

/*Counter*/
.CounterTop {
  position: relative;
  padding-top: 19vw;
  overflow: hidden;
}

.SectionTextCounter {
  margin: 0 auto;
  text-align: center;
  width: 43rem;
}

.SectionCounterBg {
  background-color: #fff;
  padding: 0;
  font-size: 0;
  position: relative;
  z-index: 10;
}

.SectionCounterBg_Circle {
  /* position: absolute; */
  top: 5rem;
  left: 0;
  width: 100%;
  line-height: normal;
}

.CounterCircleWrap {
  position: relative;
  line-height: 0;
  translate: 0 1px;
}

.CounterBg {
  position: relative;
  width: 100%;
  aspect-ratio: 1280/210;
}

.CounterBg img {
  width: 100%;
  display: block;
}

.CounterTreeLeft {
  position: relative;
  width: 100%;
  margin: 0;
  padding: 0;
  line-height: 0;
  aspect-ratio: 1280/285;
}

.CounterTreeLeft img {
  width: 100%;
  display: block;
}

.CounterFlex {
  display: flex;
  justify-content: center;
  padding-top: 4rem;
  padding-left: clamp(4rem, 8%, 16rem);
  padding-right: clamp(4rem, 8%, 16rem);
  gap: 3vw;
  align-items: stretch;

}

.CounterContents {
  width: 100%;
  background-color: #F3F3F3;
  padding: 75px 18px 45px;
  border-radius: 1.25rem;
  margin-top: 3vw;
  flex: 1;
  position: relative;
}

.CounterArrow {
  display: flex;
  align-items: center;
  gap: 0.3rem;
  align-self: center;
}

.CounterArrow::before,
.CounterArrow::after {
  content: "";
  width: 0;
  height: 0;
  border-width: 0.7rem 0 0.7rem 0.9rem;
  border-style: solid;
  border-color: transparent transparent transparent #005CAF;
}

.CounterTitle {
  position: relative;
  z-index: 50;
  text-align: center;
  font-size: clamp(0.9rem, 1.6vw, 1.5rem);
  font-weight: 700;
  line-height: 150%;
  margin-bottom: 1.3vw;
}

.CounterInner {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 20vw;
  position: relative;
  flex: 1;
}

.HowNumberTitle {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.HowNumberTitleSub {
  color: #005CAF;
  font-size: clamp(0.9rem, 1.7vw, 2rem);
  font-weight: 900;
  line-height: 150%;
}

.HowNumber {
  color: #005CAF;
  font-size: clamp(1.6rem, 4vw, 5rem);
  font-weight: 900;
  line-height: 0.8;
}

.CounterImg {
  position: absolute;
  /* top: ; */
  top: 0;
  left: 50%;
  transform: translateX(-50%) translateY(-65%);
  width: 75%;
  max-width: 250px;
  display: flex;
  justify-content: center;
  z-index: 1;
  aspect-ratio: 211/174;
}

.CounterImg img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.CounterContents .SectionP {
  /* font-size: clamp(0.8rem, 1.2vw, 1.3rem); */
  font-size: 1rem;
  font-size: clamp(0.8rem, 1.2vw, 1.1rem);
  line-height: 1.6;
}

/*Service*/

.ServiceTop {

  padding-left: clamp(1rem, 8%, 6rem);
  padding-right: clamp(1rem, 8%, 6rem);
  padding-bottom: 200px;
  padding-top: 20px;

  /*追加*/
  background-color: var(--background);
  position: relative;
  z-index: 10;
  margin-bottom: 0 !important;

  margin-top: 0;
}

.ServiceFlex {
  display: flex;
  justify-content: center;
  gap: clamp(2rem, 15vw, 20rem);
}

.SectionTextService {
  width: 32rem;
  position: sticky;
  top: 6rem;
  align-self: flex-start;
}

.ServiceContents {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5rem;
}

.ServiceCardRight {
  background-color: #fff;
  border-radius: 8.75rem 8.75rem 0 8.75rem;
  padding: 4.5rem;
  width: clamp(32rem, 40vw, 48rem);
}

.ServiceCardLeft {
  background-color: #fff;
  border-radius: 8.75rem 8.75rem 8.75rem 0;
  padding: 4.5rem;
  width: clamp(32rem, 40vw, 48rem);
}

.ServiceCardNumber {
  color: #005CAF;
  font-size: 0.9rem;
  font-weight: bold;
  letter-spacing: 0.1em;
  margin-bottom: 0.5rem;
}

.ServiceCardTitle {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 1rem;
}

.ServiceDivider {
  border: none;
  border-top: 1px solid #ddd;
  margin-bottom: 1rem;
}

.ServiceCardP {
  /* font-size: 1rem; */
  font-size: clamp(0.8rem, 1.2vw, 1.1rem);
  line-height: 1.8;
  color: #2c2c2c;
}

.ServiceArrow {
  width: 0;
  height: 0;
  border-width: 1.2rem 1rem 0 1rem;
  border-style: solid;
  border-color: #005CAF transparent transparent transparent;
}

.SectionButton {
  display: inline-flex;
  align-items: center;
  gap: 1rem;
  background-color: #005CAF;
  color: #F3F3F3;
  text-decoration: none;

  font-size: 1rem;
  font-weight: 700;

  padding: 0.5rem 0.5rem 0.5rem 1rem;
  border-radius: 0.5rem;
  margin-top: -3rem;
  margin-bottom: 1rem;

  transition: background-color 0.2s ease;
}

.SectionButton:hover {
  background-color: #003f7a;
}

.SectionCounterButton {
  display: inline-flex;
  align-items: center;
  gap: 1rem;
  background-color: #005CAF;
  color: #F3F3F3;
  text-decoration: none;

  font-size: 1rem;
  font-weight: 700;

  padding: 0.5rem 0.5rem 0.5rem 1rem;
  border-radius: 0.5rem;
  margin-bottom: 1rem;

  transition: background-color 0.2s ease;
}

.SectionCounterButton:hover {
  background-color: #003f7a;
}

.SectionButtonArrow {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  color: #005CAF;
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 0.3rem;
  font-size: 1.2rem;
  flex-shrink: 0;
  margin-left: 1rem;

  transition: color 0.2s ease;
}

.SectionButton:hover .SectionButtonArrow {
  color: #003f7a;
}

.InformationDivider {
  margin: 0 clamp(4rem, 8%, 16rem);
  margin-bottom: 8rem;
}

.InformationTop {
  padding: 0 clamp(4rem, 8%, 16rem);
  margin-bottom: 5rem;
}

.InformationCardFlex {
  display: flex;
  gap: 2rem;
  margin-top: 2rem;
}

.InformationCardLeft {
  background-color: #fff;
  border: 1.5px solid #00896C;
  padding: 2rem;
  border-radius: 2rem;
}

.InformationCardTitle {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 1rem;
}

.InformationCardDivider {
  border: none;
  border-top: 1px solid #ddd;
  margin-bottom: 1rem;
}

.InformationCardInner {
  display: flex;
  gap: 1rem;
}

.InformationCardP {
  font-size: 1rem;
  line-height: 1.8;
  color: #2c2c2c;
}

.SectionInformationButton {
  background-color: #005CAF;
  color: #F3F3F3;
  text-decoration: none;

  font-size: 1rem;
  font-weight: 700;

  padding: 1rem;
  border-radius: 0.5rem;
  align-self: flex-end;

  transition: background-color 0.2s ease;
}

.SectionInformationButton:hover {
  background-color: #003f7a;
}


@media screen and (max-width: 1100px) {
  .ServiceTop {
    margin-top: 1rem;
    /* margin-bottom: 8rem; */
  }

  .ServiceFlex {
    flex-direction: column;
    gap: 2rem;
  }

  .SectionTextService {
    width: 100%;
    position: static;
  }

  .ServiceContents {
    width: 100%;
  }

  .ServiceCardRight {
    width: 100%;
    box-sizing: border-box;
    border-radius: 4rem 4rem 0 4rem;
    padding: clamp(1.8rem, 6vw, 4.5rem);
  }

  .ServiceCardLeft {
    width: 100%;
    box-sizing: border-box;
    border-radius: 4rem 4rem 4rem 0;
    padding: clamp(1.8rem, 6vw, 4.5rem);
  }

  .ServiceCardTitle {
    font-size: clamp(1.1rem, 4.5vw, 1.5rem);
  }

  .ServiceCardP {
    font-size: clamp(0.9rem, 3.5vw, 1rem);
    line-height: 1.7;
  }

  .ServiceCardNumber {
    font-size: clamp(0.8rem, 3vw, 0.9rem);
  }

}





@media screen and (max-width: 768px) {

  /* メインビジュアル */
  .Mainvisual {
    padding: 0.6rem 0.8rem 0;
    width: 100%;
    /* line-height: 0; */
  }

  .MainvisualBg {
    width: 100%;
    position: relative;
    line-height: 0;
    z-index: 0;
    padding-top: 80px;
    /* overflow: hidden; */
  }

  .MainvisualBg_pc {
    display: none;
  }

  .MainvisualBg_sp {
    display: block;
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
  }

  .MainvisualLogo_Pc {
    display: none;
  }

  .MainvisualLogo_Sp {
    display: block;
    width: 100%;
    max-width: 400px;
  }

  .MainvisualTitle {
    /* position: absolute; */
    /* top: 50%;
    left: 50%;
    transform: translate(-50%, -40%); */
    z-index: 10;
  }

  .MainvisualTitle img {
    width: 80vw;
    height: auto;
  }

  .MainvisualLink {
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
    margin-top: 1rem;
  }

  .MainVisualTree {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 60%);
    z-index: 1;
  }

  .MainVisualTree {
    width: 100%;
    display: block;
  }

  .SectionMainvisualButton {
    display: inline-flex;
    align-items: center;
    gap: 1rem;
    background-color: #005CAF;
    color: #F3F3F3;
    text-decoration: none;
    font-weight: 700;

    font-size: 1.1rem;
    padding: 0.6rem 0.6rem 0.6rem 1rem;
    border-radius: 2rem;
    margin-bottom: 1rem;

    transition: background-color 0.2s ease;
  }

  .SectionMainvisualButton:hover {
    background-color: #003f7a;
  }

  .SectionMainvisuaButtonArrow {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    color: #005CAF;
    width: 1.8rem;
    height: 1.8rem;
    font-size: 1rem;
    margin-left: 0.5rem;
    border-radius: 2rem;
    flex-shrink: 0;
    transition: color 0.2s ease;
  }

  .MainvisualScroll {
    display: flex;
    justify-content: center;
    color: #00896C;
    font-size: clamp(1.2rem, 1vw, 1.5rem);
    font-weight: bold;

    margin-top: 2rem;
    margin-bottom: 1rem;
  }

  .SectionMainvisuaButton:hover .SectionButtonArrow {
    color: #003f7a;
  }

  .SectionMainvisualText {
    display: flex;
    justify-content: center;
    margin-top: 1rem;
  }

  .SectionMainvisualTitleEN {
    display: inline-block;
    background-color: #fff;
    font-size: 1rem;
    font-weight: bold;
    padding: 1.5rem;
    border-radius: 1rem;
    position: relative;
  }

  .SectionMainvisualTitleEN::after {
    content: "";
    position: absolute;
    bottom: -0.625rem;
    left: 50%;
    transform: translateX(-50%) translateY(-1px);
    border-width: 0.625rem 0.4375rem 0 0.4375rem;
    border-style: solid;
    border-color: #fff transparent transparent transparent;
  }

  .SectionMainvisualTextSpan {
    display: inline-block;
    color: #00896C;
    font-size: 1.5rem;
    font-weight: bold;
  }

  .Mainvisualsvg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;

    z-index: 3;
  }

  .Cloud1 img,
  .Cloud2 img,
  .Plane img {
    display: block;
    width: 100%;
    height: auto;
  }

  .Cloud1 {
    position: absolute;
    top: 18%;
    left: 2%;
    width: 5rem;
  }

  .Cloud2 {
    position: absolute;
    top: 40%;
    right: 5%;
    width: 5rem;
  }

  .Plane {
    position: absolute;
    top: 18%;
    right: 6%;
    width: 5rem;
  }

  /* メインビジュアル */

  .AboutTop {
    overflow: visible;
    padding-bottom: calc(var(--section-padding) + 30px);
    padding-top: 50px !important;
  }

  .AboutContents_1 {
    display: flex;
    flex-direction: column;
    gap: 0;
    position: relative;
    overflow: hidden;
    padding-top: 0;
  }

  .SectionText {
    width: 100%;
    padding: 0 1.2rem;
  }

  .AboutTopImg {
    position: relative;
    display: inline-block;
  }

  .AboutTopImg img {
    position: absolute;
    top: -25rem;
    right: -27rem;
    width: 18rem;
    height: auto;
    z-index: 1;
  }

  .AboutContents_2 {
    padding: 0 1.2rem;
    flex-direction: column;
    gap: 1.5rem;
    align-items: flex-start;
    margin-top: 2rem;
  }

  .AboutContentsTopImg {
    display: none;
  }

  .AboutFlex {
    /* flex-direction: column;
    flex-wrap: nowrap;
    gap: 2rem;

    align-items: center; */
    width: 100%;
  }

  .AboutContents {
    width: 45%;
  }

  .AboutFlexSub {
    height: auto;
  }

  .SectionButtonWrap_About {
    /* justify-content: flex-start; */
    margin-top: 0.5rem;
  }

  .SectionButtonWrap_Counter {
    justify-content: center;
    margin-top: 4rem;
    padding-bottom: 40px;
  }

  .SectionButtonWrap_Service {
    justify-content: center;
    margin-top: 2rem;
  }

  .SectionTitle {
    font-size: 2rem;
    margin-bottom: 1rem;
    margin-top: 1rem;
  }

  .AboutSubTitle {
    display: inline-block;
    background-color: #fff;
    font-size: clamp(0.9rem, 1.3vw, 1.6rem);
    font-weight: bold;
    padding: 2vw 4vw;
    border-radius: 1.25rem;
    position: relative;
    margin-bottom: 3vh;
  }

  .AboutSubTitle::after {
    content: "";
    position: absolute;
    bottom: -10px;
    left: 50%;
    transform: translateX(-50%);
    border-width: 10px 7px 0 7px;
    border-style: solid;
    border-color: #fff transparent transparent transparent;
  }

  /* Counter */
  /* 
  .CounterCircleWrap {
    position: relative;
    line-height: 0;
  } */

  /* .LogoSVG {
    width: 100%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    position: relative;
    z-index: 1;
    margin-bottom: -6rem;
    margin-top: 2rem;
  }

  .LogoSVG svg {
    height: auto;
  } */

  /* .CounterBg {
    width: 100%;
  }

  .CounterBg img {
    width: 100%;
    display: block;
  } */


  /* .CounterTop {
    margin-top: 2rem;
    padding: 0;
  } */

  .CounterImg img {
    width: 50vw;
  }

  .CounterContents .SectionP {
    font-size: clamp(0.9375rem, 3.5vw, 1rem);
  }

  .CounterTitle {
    font-size: clamp(1.2rem, 4vw, 1.3rem);
    margin-bottom: 2vw;
  }

  .HowNumberTitleSub {
    font-size: clamp(1.5rem, 4vw, 2rem);
  }

  .HowNumber {
    font-size: clamp(3rem, 10vw, 5rem);
  }

  .SectionCounterBg_Circle {
    top: 4rem;
  }

  .SectionTextCounter {
    width: 100%;
    padding: 0 1.2rem;
  }

  .SectionCounterBg {
    margin: 0;
    /* padding-top: 6rem; */
  }

  .CounterFlex {
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    max-width: 500px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 3.5rem;
    padding-left: clamp(2rem, 8%, 16rem);
    padding-right: clamp(2rem, 8%, 16rem);
  }

  .CounterArrow {
    transform: rotate(90deg);
  }

  .CounterInner {
    width: 100%;
  }

  .CounterContents {
    padding: 100px 25px 25px 25px;
    margin-top: 8vw;
  }

  .ServiceTop {
    /* margin-top: 3.5rem; */
    padding-top: 16px;
    padding-bottom: 140px;
  }

  .InformationTop {
    padding: 0 1.2rem;
    margin-bottom: 3rem;
  }

  .InformationCardFlex {
    flex-direction: column;
    gap: 1.5rem;
  }

  .InformationCardLeft {
    width: 100%;
    box-sizing: border-box;
  }

  .InformationCardTitle {
    font-size: clamp(1.2rem, 4.5vw, 1.5rem);
  }

  .InformationCardP {
    font-size: clamp(0.9rem, 3.5vw, 1rem);
  }

}




@media screen and (max-width: 650px) {


  /* .LogoSVG {
    width: 100%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    position: relative;
    z-index: 1;
    margin-bottom: -7rem;
    margin-top: 2rem;
  }

  .LogoSVG svg {
    height: auto;
  } */


  .AboutTopImg img {
    position: absolute;
    top: -25rem;
    right: -22rem;
    width: 18rem;
    height: auto;
    z-index: 1;
  }
}

@media screen and (max-width: 500px) {

  .AboutFlex {
    flex-direction: column;
    flex-wrap: nowrap;
    gap: 2rem;

    align-items: center;
  }

  .AboutContents {
    width: 100%;
  }

  /* .LogoSVG {
    width: 100%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    position: relative;
    z-index: 1;
    margin-bottom: -5rem;
    margin-top: 2rem;
  }

  .LogoSVG svg {
    height: auto;
  } */
  .CounterTop {
    padding-top: 23vw;
  }

  .CounterFlex {
    display: flex;
    justify-content: center;
    /* padding-top: 8rem; */
    padding-left: clamp(4rem, 8%, 16rem);
    padding-right: clamp(4rem, 8%, 16rem);
    gap: 3vw;
    align-items: stretch;

  }




  .How .PriceTitleImg {
    display: none;
  }
}


@media screen and (max-width: 430px) {

  .CounterFlex {
    flex-direction: column;
    align-items: center;
    gap: 2rem;

    /* padding-top: 11rem; */
    padding-left: clamp(2rem, 8%, 16rem);
    padding-right: clamp(2rem, 8%, 16rem);
  }


  .AboutTopImg img {
    position: absolute;
    top: -25rem;
    right: -15rem;
    width: 13rem;
    height: auto;
    z-index: 1;
  }

  .CounterContents {
    padding-top: 70px;
  }

}