.intro {
  text-align: center;
  margin-bottom: 40px;
}

.intro h3 {
  font-size: 2rem;
  margin-bottom: 10px;
  color: var(--light-main);
}

.intro p {
  font-weight: 500;
  max-width: 550px;
  margin: 0 auto;
}

.formDeco {
  display: block;
  width: fit-content;
  background-color: var(--white);
  font-weight: 700;
  font-size: 1.25rem;
  padding: 4px 18px;
  border-radius: 5px;
  margin: 0 auto 20px;
  position: relative;
}

.formDeco::before {
  position: absolute;
  content: "";
  bottom: 0;
  left: 50%;
  translate: -50% 100%;
  background-color: inherit;
  width: 16px;
  height: 12px;
  clip-path: polygon(0% 0%, 100% 0%, 50% 100%);
}

.formArea {
  padding: 60px;
  background-color: var(--white);
  border-radius: 15px;
  margin-bottom: 80px;
}

.promptInput {
  border-radius: 5px;
  background-color: var(--background);
  border: none;
  width: 100%;
  height: 250px;
  resize: none;
  padding: 15px 20px;
  font-weight: 500;
  font-size: 1rem;
  margin-bottom: 30px;
}

.promptLabel {
  font-weight: 700;
  font-size: 1.25rem;
  margin-bottom: 10px;
  display: block;
}

.submitButton {
  background-color: var(--accent1);
  border: none;
  font-size: 1.125rem;
  color: var(--white);
  font-weight: 500;
  padding: 12px 30px;
  display: flex;
  align-items: center;
  gap: 20px;
  border-radius: 5px;
  transition: all 0.2s;
  margin: 0 auto;
}

.submitButton:hover {
  background-color: #00396C;
}

.submitIcon {
  position: relative;
  width: 20px;
  height: 20px;
  /* display: none; */
  padding: 8px 0;
  box-sizing: content-box;
}

.submitIcon img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}


.loadingIcon {
  position: relative;
  height: 36px;
  aspect-ratio: 77/43;
  display: none;
}


.loadingIcon img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  display: block;
}

.loadingText {
  display: none;
}

.loadingNote {
  margin-top: 15px;
  font-size: 0.9375rem;
  text-align: center;
}

/*isThinking*/
.isThinking .submitIcon {
  display: none;
}

.isThinking .loadingIcon {
  display: block;
}

.isThinking .submitText {
  display: none;
}

.isThinking .loadingText {
  display: block;
}

.isThinking .submitButton {
  background-color: #4D6983;
  pointer-events: none;
}

.isThinking .submitButton:hover {
  background-color: #4D6983;
}

.errorMsg{
  color: red;
  text-align: center;
    margin-top: 5px;
}


/*response*/
.responseTitle {
  display: flex;
  align-items: center;
  gap: 12px;
  font-size: 1.5rem;
  margin-bottom: 30px;
}

.responseTitleIcon {
  position: relative;
  width: 24px;
  height: 24px;
}

.responseTitleIcon img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.responseTextAndCounters {
  display: flex;
  gap: 20px;
  margin-bottom: 40px;
}

.responseText {
  padding: 25px 20px;
  background-color: var(--white);
  border-radius: 5px;
  width: 40%;
  flex-shrink: 0;
}

.responseText * {
  margin-bottom: 4px;
}

.responseText>* {
  margin-bottom: 10px;
}

.counterListAreaTitle {
  display: none;
}

.counterList li {
  background-color: var(--white);
  border-radius: 15px;
  padding: 30px;
}

.counterList li:not(:last-child) {
  margin-bottom: 15px;
}

.counterHead {
  padding-bottom: 20px;
  border-bottom: 1px solid #D9D9D9;
}

.counterName {
  font-size: 1.5rem;
  margin-bottom: 12px;
}

.counterTagList {
  display: flex;
  align-items: flex-start;
  gap: 16px;
}

.counterBottom {
  padding-top: 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.counterBottom>* {
  align-self: flex-start;
}

.counterBottom>*:last-child {
  align-self: flex-end;
}



@media screen and (max-width:768px) {
  .intro h3{
    font-size: 1.5rem;
  }
  .formDeco{
    font-size: 1.125rem;
    padding: 2px 16px;
  }
  .formDeco::before{
    width: 14px;
    height: 10px;

  }
  .formArea {
    padding: 20px;
  }

  .promptLabel {
    font-size: 1.125rem;
  }
  .promptInput{
    height: 350px;
  }

  .submitButton {
    font-size: 1rem;
  }

  .responseTextAndCounters {
    flex-direction: column;
    gap: 35px;
    margin-bottom: 30px;
  }

  .responseTitle {
    margin-bottom: 20px;
  }

  .responseText {
    width: 100%;
  }

  .response {
    padding: 0;
  }

  .counterListAreaTitle {
    display: block;
    font-size: 1.25rem;
    margin-bottom: 10px;
  }

  .counterList li {
    padding: 20px;
  }
}